@model ControleDeEstoque.Models.CategoriaProdutoViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Produtos" asp-action="Index" method="get">
    <p>
        <select asp-for="ListaDeCategorias" asp-items="Model.ListaDeCategorias">
            <option value="">Categorias</option>
        </select>
    </p>

</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produtos.NomeDoProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produtos.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produtos.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produtos.EnumFornecedores)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Produtos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeDoProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnumFornecedores)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
