@model ControleDeEstoque.Models.PesquisaClientes

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller ="Clientes" asp-action="Index" method="get">

    <p>
        <select asp-for="PesquisaSelecionada" asp-items="Model.SelectNomeClientes">
        <option value="0">Nome</option>
        <option value="1">Cidade</option>
        </select>

        <input typeof="text" asp-for="PesquisaSelecionada"></input>
        <input type="submit" value="Filter" />
    </p>


</form>






<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clientes.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes.CEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes.Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes.UF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes.Cidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SelectClasseClientes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
